
<footer>Made with <span style="color: grey;">__love__</span>  by <span style="color: grey;">__tuktuk </span></footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
<script>
    var loginForm = document.getElementById("loginForm");
    loginForm.onsubmit = function() {
    this.setAttribute('action', "/login/" + document.querySelector('input[name=userName]').value);
 }
 console.log("working");
 </script>
</body>
</html>