<%- include("../partials/header") -%>
    <div class="about">
        <!--  -->
        <div class="aboutImg">
            <img src="/images/aboutImg.jpg" alt="">
        </div>

        <div class="aboutText">

            They are here, they exist and they want to be with you! Those aren’t mutually exclusive in nature.
            We are helping all those . Also pandemics affects the juniors and seniors interactions . We are all doing our best to provide a better guidance ans creating supporting relations.
             Here we interact with each other without managing time for personal meetings . One can come here ,learn here with the experiences of others in reaching to theie targets.
             Spreading knowledge with love.
        </div>
    </div>

    <%- include("../partials/footer") -%>