
.about{
    display: flex;
    align-items: center;
    min-height: 80vh;
    width: 100vw;
    flex-direction: row;
    /* padding: 50px; */
    justify-content: space-evenly;

}

.aboutImg img{
    width: 35vw;
    border-radius: 10px;
    /* background-image: url(/images/aboutImg.jpg); */
    /* background-position: center; */
    /* background-size: cover; */
    


}
.aboutText{
    width: 40%;
    height: 80%;
}


@media only screen and (max-width:450px){

    .about{
        flex-direction: column;

    }
    .aboutImg{
        width: 100vw;
        /* padding: 20px; */
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40vh;

    }
    .aboutImg img{
        width: 80%;
    }
    .aboutText{
        width: 100%;
        padding: 20px;
        text-align: center;
    }
}