/* .middle{
    display: flex;
    justify-content: center;
} */
.profileInfo{
  padding: 50px;
    /* background-color: black; */
}

h1{
    /* font-size: 16px; */
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 2px;
}
h2{
    font-size: 10px;
}
.journey{
    border-radius: 10px;
    border: 5px solid grey;
     /* width:80%; */
     height: 35vh;
     overflow-y: scroll;
     box-shadow: 5px 5px 5px grey;
     padding: 20px;
     /* align-self: center; */
     /* position: absolute;
     right: 10vw; */
}
.card-body p{
    padding:10px;
    border-radius: 10px;
}
.wrap{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
 .newPost{
   margin: 80px;

} 



@media only screen and (max-width:450px){
    .profileInfo{
    padding: 20px;
    }
    .profileInfo h1{
          font-size: 17px;
    }
    .profileInfo h4{
        font-size: 15px;
    }
    .card-title{
        font-size: 16px;
    }
    .card-text{
        font-size: 13px;
    }
   
}