<%- include('partials/header') -%>




  <div class="header-container">
    <div class="row " id="top-scroll">
      <div class="col-lg-6 col-sm-12 text">
        <h1 class="welcome">Welcome to <div class="debuggers">
            <div class="txtcolor s0">S</div>e<div class="txtcolor s1">n</div>i<div class="txtcolor s2">o</div>g<div
              class="txtcolor s3">g</div>u<div class="txtcolor s4">i</div>d<div
              class="txtcolor s3">e</div>
          </div>
        </h1>
        <p>SeniorGuide aims to make you feel more fully a part of your college. </p>
        <div class="get_started"><a href="/SignUp">Get Started</a></div>
      </div>

      <div class="col-lg-6 col-sm-0 photo">
        <div class="phone-frame">
          <div class="notch"> </div>
          <div class="play-button"><i class="play-btn fas fa-play"></i></div>

          <video class="phone-video" loop width="222px" height="496px">
            <source src="/assets/phone-video.mp4" type="video/mp4">
          </video>
        </div>
      </div>
    </div>
  </div>


  <section class="section2 mid-section">


  </section>



  <section class="vision-section">

    <div class="vision-div">

      <div class="vision-text">
        What <span>Seniorguide</span> is For ?
      </div>

      <div class="row vision-row">
        <div class="col-lg-3 vision-col">
          <div class="col-container con1">
            <div class="col-vector">
              <img src="/assets/second-block.svg" alt="">
            </div>
            <div class="col-heading hd1">
              Find your tribe from the crowd.
            </div>
            <div class="col-para para1">
              College is a new and different experience. Often in new environment, students find it difficult to connect
              with like-minded peers. Using this, you can connect with people and develop a sense of belonging!
            </div>
          </div>
        </div>
        <div class="col-lg-3 vision-col">
          <div class="col-container con2">
            <div class="col-vector">
              <img src="/assets/first-block.svg" alt="">
            </div>
            <div class="col-heading hd2">
              Get acquainted with what's happening around in college.
            </div>
            <div class="col-para para2">
              Have FOMO? Well, don't fret! Seniorguide is a go-to tool for knowing what's cooking around! We will make
              sure that you stay connected to all the buzz and events on campus. From fests to competitions, research
              work, and the status of internships and placements - we will ensure that you miss out on nothing!
            </div>
          </div>
        </div>
        <div class="col-lg-3 vision-col">
          <div class="col-container con3">
            <div class="col-vector">
              <img src="/assets/third-block.svg" alt="">
            </div>
            <div class="col-heading hd3">
              Ensure that you are well supported in each step of the learning process.
            </div>
            <div class="col-para para3">
              Get help from professors, seniors, and batchmates when you find yourself in unfamiliar situations.
              Talk and connect to people who experienced it first hand.
              Here you will always have access to all the help and guidance needed to stay on the right path.
            </div>
          </div>
        </div>
        <div class="col-lg-3 vision-col">
          <div class="col-container con4">
            <div class="col-vector">
              <img src="/assets/fourth-block.svg" alt="">
            </div>
            <div class="col-heading hd4">
              Make your own dream team for project or research work.
            </div>
            <div class="col-para para4">
              Seniorguide will help you find people who will align themselves and work hard together for mutual goals.
              Facilitate a conversation with anyone or add a post regarding it, and you will find the right person for
              your team.
            </div>
          </div>
        </div>
      </div>


    </div>


  </section>







  <section class="team-section" id="team-section">
    <div class="team-div">

      <div class="our-team"> OUR TEAM </div>

      <div class="members-container">

        <div class="photo-m-div photo-m-div1">
          <div class="photo-m p1">
            <img
              src="https://pps.whatsapp.net/v/t61.24694-24/358786599_3673346966228841_798172539250737401_n.jpg?ccb=11-4&oh=01_AdSMBw_9NDSbJdlQ7xsU8yOkxewYrDPn7-bYhuf61AjBVw&oe=6511A40C&_nc_sid=000000&_nc_cat=103"
              alt="">
          </div>

          <div class="m-name">Suraj Chaudhary </div>

          <div class="m-icons">
            <ul>
              <li><a href="https://www.linkedin.com/in/suraj-chaudhary-6875a821b/" target="_blank"><i
                    class="f-i fab fa-linkedin-in"></i></a></li>
              <li><a href="https://github.com/lovecodesuraj" target="_blank"><i class="f-i fab fa-github"></i></a></li>
              <li><i class="f-i f-x far fa-times-circle"></i></li>
            </ul>
          </div>
        </div>

        <div class="photo-m-div photo-m-div2">
          <div class="photo-m p2">
            <img
              src="https://pps.whatsapp.net/v/t61.24694-24/350739688_1236011113715693_8083218204735487945_n.jpg?ccb=11-4&oh=01_AdSGNrloaH7NK0zE5m1oHjhjRpuvMGRJDKNd1XF1a-3DoA&oe=650EBF12&_nc_sid=000000&_nc_cat=109"
              alt="">
          </div>
          <div class="m-name">Jayant Thakur</div>

          <div class="m-icons">
            <ul>
              <li><a href="" target="_blank"><i
                    class="f-i fab fa-linkedin-in"></i></a></li>
              <li><a href="" target="_blank"><i class="f-i fab fa-github"></i></a>
              </li>
              <li><i class="f-i f-x far fa-times-circle"></i></li>
            </ul>
          </div>
        </div>

        
        <div class="roles r1">
          Frontend
        </div>
        <div class="roles r2">
          Backend
        </div>
        <div class="roles r3">
          Content-writing
        </div>
        <div class="roles r5">
          App Developer
        </div>
      </div>
    </div>
  </section>


  <section>
    <div class="contact-us" id="contact-section">
      <div class="row" id="row3">
        <div class="col-lg-5 contact-section">
          <form action="/saveContactMessage" method="post">
            <div class="contact-text">
              <h1>Contact Us</h1>
            </div>
            <div class="contact-input-name">
              <input type="text" name="name" placeholder="Name">
            </div>
            <div class="contact-input-email">
              <input type="text" name="email" placeholder="Email">
            </div>
            <div class="contact-input-msg">
              <input type="text" name="message" placeholder="Type your message...">
            </div>

            <div class="contact-button">
              <button type="submit" name="button">Send</button>
            </div>
          </form>
          <div class="contact-mailid">
            chaudharysuraj2252@gmail.com
          </div>
        </div>


        <div class="col-lg-7 map-section">
          <div id="map"> <iframe class="frame"
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6914.201968205313!2d76.8160896!3d29.9477738!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390e3f51801954b5%3A0x14d79f026b1ae4ec!2sNational%20Institute%20of%20Technology%2C%20Kurukshetra!5e0!3m2!1sen!2sin!4v1612088309822!5m2!1sen!2sin"
              frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></div>
        </div>
      </div>
    </div>
  </section>

  <footer>
    <div class="footer">
      <div class="back-to-top back-top">
        Back to top <i class="fas fa-chevron-circle-up" id="top-icon" href="#top-scroll"></i>
      </div>
      <div class="social">
        Social
      </div>
      <div class="social-icons">
        <div class="social-icons-container">
          <a href="https://www.linkedin.com/in/suraj-chaudhary-6875a821b/">
            <div class="linkedin"></div>
          </a>
          <a href="https://twitter.com/SurajCh36366408">
            <div class="twitter"></div>
          </a>
          <a href="https://www.instagram.com/_suraj__021/">
            <div class="instagram"></div>
          </a>
          <!-- <a href="#"><div class="facebook"></div></a> -->
        </div>
      </div>
      <div class="copyright">
        Copyright 2021 - seniorGuide. All Rights Reserved
      </div>
      <div class="copyright2">
        Terms and Condition
      </div>
    </div>

  </footer>


  <script type="text/javascript" src="/javascript/lib/jquery.js"></script>
  <script type="text/javascript" src="/javascript/home_team.js"></script>


  <%- include('partials/footer') -%>