<!DOCTYPE html>
<html>

<head>
  <!--try to use partials in all view files-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Seniorguide</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/SignUp.css">
  <link rel="stylesheet" href="/css/nav.css">

  <link href="https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/7d0e898fba.js" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/aea9fc94ab.js" crossorigin="anonymous"></script>
  <link rel="icon" href="/assets/favicon.ico" type="image/x-icon" />
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/"><i class="fas fa-bug icon"></i>
      <p class="brand_name">SeniorGuide</p>
    </a>


  </nav>










  <div class="block1">
    <div class="block1-container">
      <div class="container">
        <div class="row box1">
          <!-- <div class="col-md-7 col-sm-2 col-1 left1">

          </div> -->
          <div class="col-md-12 col-sm-10 col-11 right1">
            <div class="top-welcome">
              Hola User
            </div>
            <form action="/SignUp" class="signup_form" method="post">

              <div class="password">
                <input type="text" name="email" placeholder="email">
              </div>
              <div class="password">
                <input type="text" name="name" value="" placeholder="Name">
              </div>
 
              <div class="password">
                <input type="text" name="college" value="" placeholder="College Name">
              </div>
              <div class="password">
                <input type="text" name="branch" value="" placeholder="Branch Name">
              </div>
              <div class="password">
                <input type="number" name="rollNo" value="" placeholder="Roll No">
              </div>
              <div class="password">
                <input type="text" name="genre" value="" placeholder="Genre (Comma seprated)">
              </div>
              <div class="password">
                <input type="text" name="gender" value="" placeholder="Gender M,F,O">
              </div>
             
              <div class="password">
                <input type="password" name="password" value="" placeholder="Password">
              </div>
              <div class="password">
                <input type="password" name="confirm" value="" placeholder="Confirm Password">
              </div>
              <div class="button-login password">
                <button type="submit">Create Account</button>
              </div>



              <div class="forgot-pass">
                <a href="/LogIn">Already Have an Account? SignIn</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>























  <script type="text/javascript" src="/javascript/lib/jquery.js"></script>


  <script type="text/javascript" src="/javascript/signup.js"></script>




  <%- include('partials/footer') -%>